<div class="container">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" routerLink="/main" routerLinkActive="active">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add-problem" routerLinkActive="active">Сообщить о проблеме</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Статистика</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser" routerLink="/main">{{currentUser?.email}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser" routerLink="/main" (click)="logout()">Выход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!currentUser" routerLink="/login" routerLinkActive="active">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!currentUser" routerLink="/signup" routerLinkActive="active">Регистрация</a>
        </li>
    </ul>
</div>
