.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    background-color: #e5edf9;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .problems-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
