<div class="main">
  <div class="parallax"></div>
  <div class="main-inner">
    <div class="slide">
      <div class="title-text">
        Цифровой<br>Город<br>
        <!--<a href="/add-problem" class="btn btn-primary">Сообщить о проблеме</a>-->
      </div>
    </div>
    <div class="content">
        <div class="problems-list">
            <app-problem-short *ngFor="let problem of problemsList" [problem]="problem.problem" [images]="problem.images"></app-problem-short>
        </div>
    </div>
  </div>
</div>
