<div class="statistics">
    <div class="parallax"></div>
    <div class="content">
        <div class="compare-activity">
            <span>
                <strong>129</strong> проблем решило государство
            </span>
            <span>
                <strong>45</strong> проблем было решено с помошью народа
            </span>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Структура</th>
                <th scope="col">Государство</th>
                <th scope="col">Народ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ЖКХ</td>
                <td>25</td>
                <td>13</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>ПФР</td>
                <td>36</td>
                <td>3</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Транспортное управление</td>
                <td>21</td>
                <td>15</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>ГИБДД</td>
                <td>14</td>
                <td>8</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Прокуратура</td>
                <td>20</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Санэпидемстанция</td>
                <td>13</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
